:root {
    font-family: 'Alkatra', cursive;
    background-color: #064e3b;
}

.icon {
    width: 25px;
}

img {
    width: 50px;
    border-radius: 50%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    background-color: white;
    padding: 10px 50px;
    display: grid;
    /* border: 1px solid black; */
    
}

.upper-header {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: column;
    gap: 10px;
}

.upper-header_right {
    display: grid;
    grid-template-columns: auto 90%;
    justify-content: start;
    gap: 10px;
}

.upper-header_left {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
}

.search-bar {
    background-color: #e2e8f0;
    border: none;
    border-radius: 20px;
}

.bottom-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 5px;
}

.bottom-header .user-info {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.bottom-header .user-welcome {
    font-size: 1rem;
}

.bottom-header .user-name {
    font-size: 1.5rem;
}

.buttons-list {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btn {
    background-color: #38bdf8;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 7px 30px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar {
    border: 1px solid blue;

    background-color: #38bdf8;
    grid-row: 1 / 3;
}

.main-content {
    border: 1px solid white;

    background-color: #e2e8f0;
    padding: 10px;
    box-shadow: inset 0px 2px 5px 0px gray;
}

.projects {
    border: 1px solid orange;
}

.card {
    border: 1px solid #ef4444;

    background-color: white;
}

.announcements {
    border: 1px solid rgb(214, 228, 17);

    background-color: white;
}

.trending {
    border: 1px solid gold ;

    background-color: white;
}